Text_classification

SMSSpamCollection dataset from UCI datasets.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('smsspamcollection/SMSSpamCollection.tsv', sep='\t')
df.head()

  label                                            message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [3]:
len(df)

4833

In [4]:
df.isnull(), df.isnull().sum()

(      label  message
 0     False    False
 1     False    False
 2     False    False
 3     False    False
 4     False    False
 ...     ...      ...
 4828  False    False
 4829  False    False
 4830  False    False
 4831  False    False
 4832  False    False

 [4833 rows x 2 columns],
 label      0
 message    0
 dtype: int64)

In [5]:
df['label'].unique(), df['label'].value_counts()

(array(['ham', 'spam'], dtype=object),
 ham     4196
 spam     637
 Name: label, dtype: int64)

In [6]:
df['label'].describe()

count     4833
unique       2
top        ham
freq      4196
Name: label, dtype: object

In [9]:
df[df['label'] == 'ham'],df[df['label'] == 'spam']

(     label                                            message
 0      ham  I've been searching for the right words to tha...
 2      ham  Nah I don't think he goes to usf, he lives aro...
 3      ham  Even my brother is not like to speak with me. ...
 4      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
 5      ham  As per your request 'Melle Melle (Oru Minnamin...
 ...    ...                                                ...
 4826   ham                                       Huh y lei...
 4829   ham               Will Ã¼ b going to esplanade fr home?
 4830   ham  Pity, * was in mood for that. So...any other s...
 4831   ham  The guy did some bitching but I acted like i'd...
 4832   ham                         Rofl. Its true to its name

 [4196 rows x 2 columns],
      label                                            message
 1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
 6     spam  WINNER!! As a valued network customer you have...
 7     spam  Had your mobile 11 months or more? U R entitle...
 9     spam  SIX chances to win CASH! From 100 to 20,000 po...
 10    spam  URGENT! You have won a 1 week FREE membership ...
 ...    ...                                                ...
 4798  spam  Want explicit SEX in 30 secs? Ring 02073162414...
 4801  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
 4808  spam  Had your contract mobile 11 Mnths? Latest Moto...
 4827  spam  REMINDER FROM O2: To get 2.50 pounds free call...
 4828  spam  This is the 2nd time we have tried 2 contact u...

 [637 rows x 2 columns])

In [10]:
#splitting dataset

In [17]:
from sklearn.model_selection import  train_test_split

X = df['message']
Y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
X_train.shape,X_test.shape

((3383,), (1450,))

In [20]:
#Sklearn CountVectorizer for text preprocessing, tokenizing and filter stopwords and build feature vectors.

from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()

X_train_counts = count_vect.fit_transform(X_train)
X_train_counts.shape

(3383, 7418)

In [23]:
#transform counts to frequencies with tf-idf
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer()

X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
X_train_tfidf.shape

(3383, 7418)

In [24]:
from sklearn.svm import LinearSVC
clf = LinearSVC()
clf.fit(X_train_tfidf,y_train)

LinearSVC()

# Fitting using  pipeline

In [34]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer


model = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', LinearSVC()),
])

# Feed the training data through the pipeline
model.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [35]:
#testing the classifier
predictions = model.predict(X_test)
from sklearn import metrics
metrics.confusion_matrix(y_test,predictions)

array([[1247,    7],
       [  17,  179]])

In [36]:
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99      1254
        spam       0.96      0.91      0.94       196

    accuracy                           0.98      1450
   macro avg       0.97      0.95      0.96      1450
weighted avg       0.98      0.98      0.98      1450

In [37]:
print(metrics.accuracy_score(y_test,predictions))

0.983448275862069